# System D-Bus used by BlueZ and system integration.
name=system-bus
exec=/usr/bin/dbus-daemon
arg=--system
arg=--nofork
arg=--nopidfile
ready_path=/run/dbus/system_bus_socket
restart=always
uid=0
gid=0
